* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
iframe {
  height: 100%;
}
body {
  overflow-x: hidden;
  background: #eeeeee;
}
/* Navbar start */
.right_nav {
  margin-left: 35%;
}
.right_nav button {
  border-radius: 30px;
  background: #00c9a8;
  color: #f1f1f1;
}
.nav_item {
  display: flex;
}
#form input {
  margin-left: 70%;
}
#form button {
  margin-left: 145%;
  margin-top: -14%;
}
/* Navbar end */
/* After navbar */
.bg {
  background-image: url("../images/Landing Page BG 1.png");
  height: 80vh;
  padding: 4% 0% 2% 20%;
  background-color: #e9f0ee;
}
.sm_bg {
  width: 60vw;
  background: #f1f1f1;
  overflow: visible;
  position: absolute;
  padding: 3% 4% 11% 0;
  background-color: #f9ffff;
}
/* Video content start */
/* .video-container {
  padding-bottom: 15%;
}
.video-container iframe {
  width: 60ch;
  height: 55vh;
} */
/* About co */
.photo_text {
  padding: 7% 7%;
}
.photo_text .reviews {
  display: flex;
  margin-left: -3%;
  margin-top: 3%;
}
.photo_text .reviews .star,
p {
  padding: 0 3%;
}
.photo_text .enroll {
  display: flex;
}

.photo_text .enroll .bookmark {
  border-radius: 50%;
  padding: 3%;
  margin-left: 10%;
}

/* video content end */

/* About course  */
#about_course {
  padding: 8% 0 0 0;

  background-color: #e9f0ee;
}
#about_course h1 {
  margin-left: 20%;
  font-size: 1.3rem;
  font-weight: 700;
}
#about_course .context {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
  /* margin-left: 23%; */
  background-color: #f9ffff;
  margin-left: 19%;
}
#about_course .context div {
  border-right: 1px solid #9f9f9f;
  padding: 0 5%;
}
#about_course .context p {
  font-size: 0.6rem;
  color: #9f9f9f;
}
/* About course */
/* Description */
#description {
  background-color: #e9f0ee;
}
#description textarea {
  margin-left: 19%;
  background-color: #f9ffff;
}
#description textarea:focus {
  outline: none !important;
  border-color: #e9f0ee;
}
#description h1 {
  margin-left: 20%;
  font-size: 1.3rem;
  font-weight: 700;
}
/* Description */
/* Footer start */
/* Lesson */
#lesson {
  padding: 0 20%;
  background-color: #e9f0ee;
  margin-left: -1%;
}
#lesson h1 {
  font-size: 1.3rem;
  margin-left: 1%;
  font-weight: 700;
}
#lesson .week {
  background-color: #f9ffff;
}
#lesson .week p {
  padding: 1% 0 0.5% 2%;
  border-bottom: 1px solid #000;
}
/* Lesso */
/* Deatils */
#course_instructor {
  background-color: #eeeeee;
  padding: 0 20% 3% 27%;
}
#course_instructor h1 {
  font-size: 1.2rem;
  margin-left: -13%;
  font-weight: 700;
}
.icon_details {
  display: flex;
  padding: 5% 5% 5% 0;
  background-color: #ffffff;
  margin-left: -15%;
}
.icon-btn {
  padding: 0.5% 5% 2% 16%;
}
.icon-btn button {
  border-radius: 50%;
  padding: 30% 35% 10% 35%;
}
.icon-btn button:focus {
  outline: none !important;
}
.icon-btn .bdn {
  border: 3px solid #00c9a8;
}

.icon-btn i {
  font-size: 2.8rem;
  color: #00c9a8;
}
/* .details {
  margin-left: -2%;
} */
.details h3 {
  margin-bottom: -3%;
  font-size: 1.1rem;
}
.details p {
  font-size: 1.1rem;
}
.designer {
  margin-top: -3%;
}
.start {
  display: flex;
  margin-top: -6%;
}
.start i {
  margin-top: 1.6%;
  color: #00c9a8;
}
/* #course_instructor .details h3 {
} */
.designer {
  margin-top: 3%;
  margin-left: -3%;
}

.people {
  display: flex;
  margin-top: -4%;
}
.people p {
  margin-top: -2.5%;
}
.course {
  display: flex;
  margin-top: -4%;
}
.course p {
  margin-top: -2.5%;
}

.rate {
  width: 10vw;
}
/* Course Rating */
#course-review .rating {
  padding: 2% 7% 3% 22%;
  height: 1%;
  line-height: 0.5rem;
}
#course-review .main_rating {
  display: flex;
}
.main_rating p {
  margin-top: 8%;
  color: #9f9f9f;
}
.fivestar {
  margin-left: 4%;
  margin-top: 3%;
  color: #00c9a8;
}
#course-review .rating_details {
  padding: 2% 13% 0 2%;
}

#course-review .progress {
  height: 7px;
  margin: 1.5% 0 0 -26%;
}
#course-review .progress .progress-bar {
  background-color: #00c9a8;
}
.strfunction {
  padding: 0 10%;
}
.strfunction i {
  color: #00c9a8;
  margin-left: 2.5%;
}
.strfunction p {
  line-height: 1rem;
}
.rating_details span {
  padding: 0 5%;
}
/* Course Rating */
/* Detils */
.footer {
  padding: 3% 5%;
  background: #004a3e;
}
.footer_2nd {
  text-align: end;
}
.logo_with_btn img {
  width: 50%;
}
.footer_text {
  text-align: left;
  margin-left: 0%;
  color: #e5e5e5;
}
.footer_text p {
  text-align: left;
  margin-left: 0%;
}

.hr {
  border-top: 1px solid #00c9a8;
}
.footer_text .h6 {
  color: #00c9a8;
}
/* fotter end */
